<div class="container p-5">
  <div class="row mb-5 justify-content-center">
    <h1>URL Shortener</h1>
  </div>
  <div class="row justify-content-center mb-5">
    <img class="col-6 col-sm-3" src="https://www.flaticon.com/svg/static/icons/svg/3221/3221956.svg" alt="chain">
  </div>
  <form action="/" class="row justify-content-center" method="POST">
    <input type="url" class="form-control my-5" placeholder="input URL here" value="{{#if code}}http://localhost:3000/shorten/{{/if}}{{ code }}" name="url" required>
    <button type="submit" class="col-8 col-sm-4 btn btn-primary">Sorten</button>
  </form>
</div>